@import url('https://fonts.cdnfonts.com/css/sansation');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root{
  --secondary-clr:#D9D9D9;
  --padding:50px;
  --subtitle:2.5rem;
  --description:1.5rem;

  /*About Us */
  --about-fnt-title-lg:4rem;
  --about-fnt-subtitle-lg:1.5rem;
  --about-fnt-title-md:3rem;
  --about-fnt-subtitle-md:1rem;
  --about-fnt-title-sm:1.5rem;
  --about-fnt-subtitle-sm:.8rem;
  
  /*Room/Dinning/Event Font */
  --rde-fnt-title-md:2rem;
  --rde-fnt-subtitle-md:1.5rem;
  --rde-fnt-description-md:1rem;
  --rde-fnt-event-md:.8rem;
  --rde-fnt-title-sm:1rem;
  --rde-fnt-subtitle-sm:.5rem;
  --rde-fnt-description-sm:.5rem;

  /*Height for Images(with Description)*/
  --img-lg:80vh;
  --img-md:50vh;
  --img-sm:20vh;

  /*Confirm Page Colors */
  --drk-gray:#3E3E3E;
  --lgt-gray:#454544;
  --sft-gray:#5E5A58;
  --lgt-gold:#CEA86A;

}


*{
  font-family: "Sansation","Alex Brush",sans-serif,cursive;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  width:100%;
}

main{
  width:100%;
  min-height: 100vh;
}

/*
//////////////////
///Root Layout///
////////////////
*/

.root-layout{
  width:100%;
  display:grid;
  grid-template-rows: auto 1fr auto;
}

.root-layout header{
  display: flex;
  justify-content: center;
  background-color: var(--sft-gray);
}

.root-layout nav{
  display: flex;
  justify-content: center;
  z-index: 100;
  /* position:absolute;
  top:280px; */
}

.root-layout ul{
  display:flex;
  justify-content: center;
  list-style: none;
  gap:100px;
  margin: 20px 0;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}

.root-layout ul a{
  color:inherit;
  text-decoration: none;
}

.root-layout ul a::before{
  content: "";
  position: absolute;
  height: 5px;
  width: 0px;
  background-color: var(--lgt-gold);
  gap:50px;
  top:-50%;
  transition: .3s;
}


.root-layout ul .roomHightlight:hover::before{
  width: 80px;
}

.root-layout ul .dinningHightlight:hover::before{
  width: 100px;
}

.root-layout ul .eventHightlight:hover::before{
  width: 80px;
}


.root-layout .footerArea{
  height:150px;
  background-color: var(--sft-gray);
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;

}

.root-layout .footerArea .hotelLogo,
.root-layout .footerArea .hotelContactDetails{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.root-layout .footerArea .hotelLogo{
  grid-area: 1/1/2/2
}

.root-layout .footerArea .hotelContactDetails ul{
  display: flex;
  flex-direction: column;
  gap:15px;
  font-size: 1rem;
  color:black;
}

.root-layout .footerArea .copyright{
  grid-area: 2/1/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}


/*
/////////////
////Home////
///////////
*/
.homePage{
  z-index: -1;
  background-color: black;
  min-height: 100%;
}

.homePage .centerImage{
  display: flex;
  top:var(--top);
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(./HotelSite/Building\ Facade.jpg);
  background-size:cover;
  background-position: center;
  height:100vh;
  margin-top:30px
}

.homePage .centerImage h1{
  text-align: center;
  width:1000px;
  margin-top:30px;
  font-family: "Alex Brush",cursive;
  font-weight: 100;
  font-size: 15rem;
  background-image: linear-gradient(180deg,white 55%,black);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px var(--secondary-clr);
}

/*
///////////////
///About Us///
/////////////
*/

.homePage .aboutUs{
  height:500px;
  background-color: var(--secondary-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
  position: relative;
}

.homePage .aboutUs h2{
  font-size: var(--about-fnt-title-lg);
}

.homePage .aboutUs h3{
  font-size: var(--about-fnt-subtitle-lg);
  padding:var(--padding);
  text-indent: 50px;
  line-height:50px;
}

/* 
////////////
///Room////
//////////
*/

.homePage .room{
  background-image: url(./HotelSite/Rooms/Room1.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
}

.homePage .hotelRooms,
.homePage .dining{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr;
  height: var(--img-lg)
}

.homePage .hotelRooms .roomDesciption,
.homePage .dining .dinningDesciption
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:100px;
  background-color: var(--secondary-clr);
  padding:var(--padding);
  position: relative;
}

.homePage .hotelRooms .roomDesciption h3{
  font-size:1.7rem;
}

.homePage .hotelRooms .roomDesciption h2{
  font-size: var(--subtitle)
}

.homePage .hotelRooms .roomDesciption p{
  font-size: var(--description)
}

.homePage .hotelRooms .roomImage{
  background-image: url(./HotelSite/Rooms/Room4.jpg);
  background-size: cover;
  position: relative;
}

/* 
///////////////
///Dinning ///
/////////////
*/

.homePage .dining .dinningDesciption h3{
  font-size:1.7rem;
}

.homePage .dining .dinningDesciption h2{
  font-size: var(--subtitle)
}

.homePage .dining .dinningDesciption p{
  font-size: var(--description)
}

.homePage .dining .dinningImage{
  background-image: url(./HotelSite/Food/Food1.jpg);
  background-size: cover;
  top:var(--top);
  position: relative;
}

/* 
////////////
///Events///
////////////
 */

.homePage .events{
  background-color: var(--secondary-clr);
  position: relative;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.events .wedding{
  grid-area: 1/1/6/6;
  background-image: url('./HotelSite/Wedding/Wedding1.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height:var(--img-lg);
}

.events .eventDescription{
  grid-area: 2/3/4/7;
  background-color: rgb(217 217 217/ 0.5);
  backdrop-filter:blur(2px);
  z-index: 100;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.events .surf{
  grid-area: 1/5/6/9;
  background-image: url('./HotelSite/Activity/Beach\ Activity1.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height:var(--img-lg);
}

/*
///////////////
///SideBar////
/////////////
*/

.root-layout .sideBar{
  position:sticky;
  z-index: 200;
  width:75px;
  top:250px;
  background-color: rgb(217 217 217/ 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.sideBar .sideBarLogo{
  height: 70px;
  z-index: -5;
  list-style: none;
}

.sideBar .instagram{
  background-image: url(./HotelSite/Social-media-icons/icons8-instagram-120.png);
  background-size: cover;
}

.sideBar .facebook{
  background-image: url(./HotelSite/Social-media-icons/icons8-facebook-120.png);
  background-size: cover;
}

.sideBar .pinterest{
  background-image: url(./HotelSite/Social-media-icons/icons8-pinterest-120.png);
  background-size: cover;
}


/* 
/////////////
///Pages////
///////////
*/

.eventsPage{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color:var(--secondary-clr);
  padding:var(--padding)
}

/* 
///////////////
///Room Page///
///////////////
 */

.roomPage{
  min-height: 100vh;
  background-color:var(--secondary-clr);
  padding:var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./HotelSite/Rooms/Room2.jpg);
  background-size: cover;
  background-position: center;

}

.roomWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 0fr;
  background-color: var(--secondary-clr);
  grid-gap: 50px;
  padding:30px;
}

.roomBannerText{
  grid-area: 2/1/3/2;
  background-color: var(--secondary-clr);
  border: 2px solid black;
  font-size: 3.5rem;
  padding:20px 200px 20px 10px;
  display: flex;
  align-items: flex-end;
}

.roomBannerImage{
  grid-area: 2/2/3/6;
  background-image: url(./HotelSite/Rooms/hoteDoor.jpg);
  background-position: center;
  background-size: cover;  
}

.roomDescription{
  grid-area: 3/1/4/3;
  background-color: var(--secondary-clr);
  border: 2px solid black;
  font-size: 3.5rem;
  padding:20px 200px 20px 10px;
  display: flex;
  align-items: flex-end;
}

.roomDescriptionImage{
  grid-area: 3/3/4/6;
  height: 300px;
  background-image: url(./HotelSite/Rooms/Room2.jpg);
  background-position:center;
  background-size: cover;  
}

.roomFirst{
  grid-area: 4/1/5/6;
  background-image: url(./HotelSite/Rooms/Room1.jpg);
}

.roomSecond{
  grid-area: 5/1/6/6;
  background-image: url(./HotelSite/Rooms/Room4.jpg);
  background-position: 0px -600px;;
}

.roomThird{
  grid-area: 6/1/7/6;
  background-image: url(./HotelSite/Rooms/Room3.jpg);
}

.roomFirst,
.roomSecond,
.roomThird{
  background-position: center;
  background-size: cover;
  height: 300px;
  position: relative;
  cursor:pointer;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.roomFirst a,
.roomSecond a,
.roomThird a{
  text-decoration: none;
  color: white;
  transition: .3s;
}

.roomFirst a:hover,
.roomSecond a:hover,
.roomThird a:hover{
  color:black;
}

.roomFirst--active,
.roomSecond--active,
.roomThird--active{
  background-color: rgb(217 217 217/ 0.5);
  backdrop-filter:blur(5px);
  height: 100%;
  width: 100%;
  position:absolute;
  z-index:100;
  top:20px;
  right: 0px;
  opacity: 0;
  transition:.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomFirst:hover .roomFirst--active,
.roomSecond:hover .roomSecond--active,
.roomThird:hover .roomThird--active{
  top:0px;
  scale:1;
  opacity: 1;
}

.roomFirst .roomNameA,
.roomSecond .roomNameB,
.roomThird .roomNameC{
  position: relative;
  left:-30px;
  top:-20px;
  height: 40px;
  width: 200px;
  background-color: var(--sft-gray);
  color:white;
  color:var(--lgt-gold);
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  display:grid;
  place-items: center;
}



.bookButton{
  font-size: 2rem;
  padding: 10px 40px;
  border:2px solid black;
  border-radius: 30px;
  transition: all 0.1s;
}

.bookButton{
  cursor:pointer;
  transition: .2s;
}

.bookButton:active{
  scale:0.86;
}

.bookButton:hover{
  background-color: var(--lgt-gold);
}





/* .homeButton{
  height:50px;
  width:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-bottom: 50px;
}  */

.homeButton:hover{
  cursor: pointer;
}

/*
///////////////
///Book Page///
///////////////
*/

.bookPageWrapper{
  /* width:100%; */
  background-image: url(./HotelSite/Rooms/hotelBell.jpg);
  background-size: cover;
  background-position: bottom center;
  padding:var(--padding);

 
}

.bookPage{
  position: relative;
  display:grid;
  grid-template-columns: 1.5fr 1fr 50px 1fr 1fr 1fr;
  grid-template-rows: .5fr 100px 150px 100px 80px .3fr .5fr .5fr 80px .5fr ;
  grid-column-gap: 50px;
  padding: var(--padding)
}

.bookNowTitle,
.month,
.bookDescription,
.roomType,
.checkIn,
.gridCheckInDate,
.gridCheckOutDate,
.priceRoom,
.bookNow,
.homeButton{
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: linear-gradient(210deg, #d9d9d9 30%, rgba(74,42,42,0) 100%);
  backdrop-filter: blur(10px);
}

.bookNowTitle,
.bookDescription,
.roomType{
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
}


.bookNowTitle{
  grid-area: 2/1/4/4;
  height: 80%;
  width: 100%;
  font-size: 3rem;
}

.month{
  grid-area:2/4/7/7;
  overflow: hidden;
}

.month img{
  width:100%;
  padding:40px;
}

.bookDescription{
  grid-area:4/1/5/4;
  height: 80%;
  width: 90%;
  font-size: 1.5rem;
}

.roomType{
  grid-area: 5/1/6/4;
  height: 80%;
  width: 80%;
  font-size: 1.3rem;
  /* background: rgb(217,217,217); */
  background: var(--lgt-gold);
  /* background: linear-gradient(214deg, rgba(217,217,217,1) 0%, rgba(252,176,69,1) 41%, rgba(255,213,0,1) 87%); */
}

.checkIn{
  grid-area: 7/1/9/4;
  backdrop-filter: none;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr .1fr 5fr;
  grid-gap: 10px;
  font-size: 2rem;
  padding:0 10px;
}

.gridCheckInOut{
  grid-area: 1/1/2/3;
  display:flex;
  justify-content: center;
  align-items: center;
}

.gridCheckOutDate{
  grid-area:2/1/4/3;
  scale:.9;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  padding: 10px 30px;
}

.monthRender .gridCheckOut div{
  scale:1;
}

.checkText{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0px;
}

.dateDisplay{
  border:solid black 2px;
  border-radius: 10px;
}

.dateDisplay .monthIcon{
  border-radius: 7px 7px 0px 0px;
  color:white;
  background-color: var(--lgt-gold);
  text-align: center;
  font-weight: 400;
}

.dateDisplay .dateIcon{
  text-align: center;
  font-weight: 400;
}

.checkInLabel,
.checkOutLabel{
  position: relative;
  left:-50px;
}

.gridBar{
  height: 5px;
  width: 100%;
  grid-area: 2/1/3/4;
  background-color: black;
}

.gridCheckInDate,
.gridCheckOutDate,
.gridPersonNumber,
.bookForm{
  font-size: 1.5rem;
}

.gridCheckInDate,
.gridCheckOutDate{
  backdrop-filter: none;
}


.monthRender{
  display: flex;
}

.priceRoom{
  grid-area:9/1/10/4;
  font-family: "Sansation",sans-serif;
  font-size: 1.5rem;
  position: relative;
}

.bookNow{
  position: relative;
  grid-area: 10/1/11/4;
  border-radius: 0px 0px 20px 20px;
  height: 50%;
  font-size: 1.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  background: var(--drk-gray);
  z-index: 100;
}

.bookNow button{
  font-size: 2rem;
  border:none;
  width:200px;
  height: 40px;
  color:white;
  cursor: pointer;
  background: none;
}

.bookNow button:hover{
  color:var(--lgt-gold);
}

.bookNow button:active{
  font-size: 1.96rem;
}

.homeButton{
  grid-area: 11/1/12/2;
  height: 100px;
  width:200px;
  font-size: 1.5rem;
  position:relative;
  background: var(--lgt-gold);
  /* background: linear-gradient(214deg, rgba(217,217,217,1) 0%, rgba(252,176,69,1) 41%, rgba(255,213,0,1) 87%); */
}

.homeButton a{
  text-decoration: none;
  color: inherit;
}

.roomType span{
  transition: .2s;
}

.roomType .dropListinactive{
  position: absolute;
  right:30px;
  transform:rotate(90deg);
  height: 30px;
  width:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.5;
}

.roomType .dropListactive{
  position: absolute;
  right:30px;
  transform:rotate(180deg);
  height: 30px;
  width:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.5;
}

.roomType ul{
  transition: .3s;
  
}

.roomType ul.inactive{
  position:absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:80px;
  background-color: rgb(217 217 217/ 0.5);
  backdrop-filter: blur(1px);
  gap:50px;
  padding: 50px 0px;
  opacity:0;
  transform:translateY(-10px)
}

.roomType ul.active{
  position:absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:80px;
  background: rgb(217,217,217);
  background: linear-gradient(214deg, rgba(217,217,217,1) 0%, rgba(252,176,69,1) 41%, rgba(255,213,0,1) 87%);
  gap:50px;
  padding: 50px 0px;
  opacity:1;

}

.roomType ul li{
  width: 100%;
  display:flex;
  justify-content: center;
  color: black;
}

.overlay {
  width: 100%;
  height: 100vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  position: fixed;
  z-index:100;
}

.overlay {
  /* background: #96948acc; */
  background: #D9D9D9ac
}

.modalForm{
  height: 700px;
  width: 500px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: var(--drk-gray);
  opacity: .9;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:.5fr .5fr 1fr 1fr;
  border:5px solid black;
  border-radius: 10px;
  gap:20px;
}

.modalForm h2{
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--lgt-gold);
}

.modalForm h3{
  grid-area: 2/1/3/3;
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--lgt-gold);
}


.modalForm .modalInput{
  grid-area: 3/1/4/3;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 20px;
  padding: 10px 10px;
}


.modalForm .modalInput .fName,
.modalForm .modalInput .lName,
.modalForm .modalInput .email,
.modalForm .modalInput .telephone,
.modalForm .modalInput .modalCheckIn,
.modalForm .modalInput .modalCheckOut,
.modalForm .modalInput .totalBookDays,
.modalForm .modalInput .totalBookPrice{
  color:var(--lgt-gold);
  background-color: var(--sft-gray);
  font-weight: bold;
  font-size: 1.1rem;
}


.modalForm .modalInput p{
  padding-left: 10px;
}

.modalForm .modalInput .fName{
  grid-area: 1/1/2/3;
}

.modalForm .modalInput .lName{
  grid-area: 2/1/3/3;
}

.modalForm .modalInput .email{
  grid-area: 3/1/4/3;
}

.modalForm .modalInput .telephone{
  grid-area: 4/1/5/3;
}

.modalForm .modalInput .modalCheckIn{
  grid-area: 5/1/6/2;
}

.modalForm .modalInput .modalCheckIn .modalDateDisplay,
.modalForm .modalInput .modalCheckOut .modalDateDisplay{
  text-align: right;
  padding-right: 10px;
}

.modalForm .modalInput .modalCheckIn span,
.modalForm .modalInput .modalCheckOut span{
  color:white;
}


.modalForm .modalInput .modalCheckOut{
  grid-area: 6/1/7/2;
}

.modalForm .modalInput .totalBookDays{
  grid-area: 5/2/7/3;
  display: grid;
  place-items: center;
  padding:0;
}

.modalForm .modalInput .totalBookPrice{
  grid-area: 7/1/8/3;
  display:grid;
  place-items: center;
  padding:0;
  color:var(--lgt-gold);
}

.modalForm button{
  color:white;
  font-weight: bold;
  background-color: var(--sft-gray);
  border: 2px solid white;
}



/*
////////////////////
///Confirm Page////
//////////////////
*/

.modalFormConfirm{
  height: 700px;
  width:900px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-image: url(./HotelSite/Rooms/hotelConfirmPage.jpg);
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .2fr .5fr 1fr 1fr 1fr;
}

.modalFormConfirm .hotelNameBook{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-area: 2/1/3/3;
  padding: 20px;
  z-index: 100;
  background-color: var(--secondary-clr);
  width: 80%;
  margin:auto;
}

.modalFormConfirm .hotelNameBook h2{
  font-weight: lighter;
}

.modalFormConfirm .hotelNameBook .bookingDetails{
  display: flex;
  align-items: center;
  width:350px;
  font-weight: bold;
  font-size: 1.3rem;
  color:var(--lgt-gold)
}

.modalFormConfirm .hotelNameBook .bookingDetails .bookingNumber{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
  height: 100px;
  width:60%;
  margin-left: auto;
  margin-right: 0;
  padding:0 10px
}

.modalFormConfirm .hotelNameBook .bookingDetails .bookingNumber > *{
  width:100%;
  font-size: 1.3rem;
  text-align: center;
  display:flex;
  justify-content: flex-end;
}

.modalFormConfirm .hotelNameBook .bookingDetails .bookingNumber h4{
  font-size: 1rem;
  display:flex;
  justify-content: flex-end;
  color: black;
}

.modalFormConfirm .modalInput{
  height: 105%;
  top:-35px;
  right:-20px;
  position:relative;
  background-color: var(--drk-gray);
  grid-area: 1/2/6/3;
  display:grid;
  grid-template-rows: 3fr 2fr 2fr 1fr .8fr;
  row-gap: 20px;
  opacity:.8;
}

.modalFormConfirm .modalInput .totalBookDates{
  background-color: #000000;
  color:white;
  grid-area: 2/1/3/2;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  width:430px;
  font-weight: bold;
}

.modalFormConfirm .modalInput .totalBookDates  .modalCheckInConfirm,
.modalFormConfirm .modalInput .totalBookDates .modalCheckOutConfirm{
  display:flex;
  flex-direction: column;
  gap:30px
}

.modalFormConfirm .modalInput .totalBookDates span{
  color:var(--lgt-gold);
  font-size: 1.2rem;
}

.modalFormConfirm .modalInput .totalBookDates .totalBookDaysConfirm{
  display:grid;
  place-items: center;
  color:var(--lgt-gold);
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
}

.modalFormConfirm .modalOverlay{
  color:white;
  grid-area:3/1/4/2;
  display:grid;
  grid-template-columns: 1fr .1fr 1fr;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}

.modalFormConfirm .confirmBookPrice{
  background-color: black;
  grid-area: 5/1/6/2;
  border-radius: 0px 30px 0px 0px;
  position:relative;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  font-size: 2rem;
  color:var(--lgt-gold)
}

.modalFormConfirm .confirmRoomType{
  background-color: var(--drk-gray);
  grid-area: 5/1/6/2;
  border-radius: 0px 30px 0px 0px;
  position:relative;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  top:50px;
  height: 40px;
  width:250px;
  left:-50px;
  color:var(--lgt-gold);
  font-size: 1.2rem;
}

.modalFormConfirm .bookButtons{
  grid-area: 4/1/5/2;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.modalFormConfirm .bookButtons button{
  width:100px;
  height: 30px;
  background-color: var(--sft-gray);
  color: white;
  border:2px solid white;
  border-radius: 5px;
}

.modalFormConfirm .modalOverlay .centerBar{
  height: 100px;
  width: 5px;
  background-color: white;
  position: relative;
  left:-20px;
}

.modalFormConfirm .modalOverlay .bookTag{
  display:flex;
  flex-direction: column;
  gap:20px;
  font-size: 1.2rem;
}


.modalFormConfirm .modalOverlay .bookTagDetails{
  display:flex;
  flex-direction: column;
  gap:20px;
  color:var(--lgt-gold);
  font-size: 1.1rem;
}

.modalFormConfirm .modalInput .totalBookDates, 
.modalFormConfirm .modalOverlay,
.modalFormConfirm .confirmBookPrice,
.modalFormConfirm .bookButtons{
  width:430px;
}

.modalForm .modalInput .totalBookDaysBook{
  font-size: 2rem;
}

.modalForm .modalInput input{
  height: 40px;
  padding: 0 10px;
}

.modalForm{
  z-index: 200;
}

.modalForm--disable{
  scale:0;
}

.modalForm .btn-cancel,
.modalForm .btn-book{
  margin:auto;
  width: 50%;
  height: 40px;
  border-radius: 10px;
}

.modalForm .btn-cancel:hover,
.modalForm .btn-book:hover{
  cursor:pointer;
}

.modalForm .btn-cancel{
  grid-area:4/1/5/2;
}

.modalForm .btn-book{
  grid-area:4/2/5/3
}

/*
///////////////////////
///Success Message////
/////////////////////
*/
.successMessage-disable{
  scale:0;
}

.successMessage{
  height: 700px;
  width: 500px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: var(--drk-gray);
  opacity: .9;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap:50px;
}

.successMessage .checkLogo img{
  height:300px;
  width:300px;
}

.successMessage > *{
  color: white;
}

.successMessage button{
  width:300px;
  height:50px;
  border-radius: 10px;
  background-color: var(--lgt-gold);
  border: none;
  color:white;
  font-size: 2rem;
  font-weight: bold;
}

.modalBook button:hover{
  cursor: pointer;
  background-color: var(--lgt-gold);
}

.modalBook button:active{
  scale:.96;
  font-size: .8rem;
}

.successMessage button:active{
  font-size: 1.9rem;
}


/*
///////////////////////
/// Dinning Room  ////
/////////////////////
*/

#test{
  color:red;
  font-size: 10rem;
}

#test1{
  color:red;
  font-size: 10rem;
}

#hotelNameDinning{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
}
.dinningPage{
  background-image: url('./HotelSite/Menu/emblem.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dinningPage .noColorMenuBar{
  background-color: var(--lgt-gray);
  grid-area: 1/2/7/4;
}

.dinningPage .noColorMenuBarLunch{
  background-color: var(--lgt-gray);
  grid-area: 1/1/7/4;
}

.wave {
  position: absolute;
  top:500px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(0deg);
}

.wave svg,
.wave1 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 200px;
}

.wave .shape-fill,
.wave1 svg {
  fill: black;
}

.wave .shape-fill-gold,
.wave1 .shape-fill-gold{
  fill: #CEA86A;
}


.tilt1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(-90deg);
}

.tilt1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 1650px;
  opacity: .5;
}

.tilt1 .shape-fill {
  fill: #CEA86A;
}

.tilt2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(90deg);
}

.tilt2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 1650px;
  opacity: .5;
}

.tilt2 .shape-fill {
  fill: #CEA86A;
}

.dinningPage #hotelName{
  color:white;
  grid-area: 1/1/2/2;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dinningPage #hotelName h1{
  font-size: 5rem;
}

.dinningPage #hotelName h2{
  font-size: 3rem;
}

.dinningPage #breakfastSchedule{
  border:5px solid white;
  width:50%;
  height: 60%;
  margin:auto;
  color:white;
  grid-area: 3/1/4/2;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.dinningPage .schedule{
  border:5px solid white;
  width:50%;
  height: 60%;
  margin:auto;
  color:white;
  grid-area: 3/1/4/2;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:50px;
}


.dinningPage .starter
{
  grid-area:1/2/2/3;
}

.dinningPage .starterItems{
  grid-area: 2/2/3/3;
  padding:10px 0 0 20px
}

.dinningPage .starterPrice{
  grid-area: 2/3/3/4;

}

.dinningPage .starterItems,
.dinningPage .starterPrice{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  color:white;
}


.dinningPage .main{
  grid-area: 3/2/4/3;
  color:white;
}

.dinningPage .mainItems{
  grid-area: 4/2/5/3;
}

.dinningPage .mainPrice{
  grid-area: 4/3/5/4;
}

.dinningPage .mainItems,
.dinningPage .mainPrice{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  color:white;
}

.dinningPage .beverages{
  grid-area: 5/2/6/3;
  color:white;
}

.dinningPage .beveragesItems{
  grid-area: 6/2/7/3;
}

.dinningPage .beveragesPrice{
  grid-area: 6/3/7/4;
}

.dinningPage .beveragesItems,
.dinningPage .beveragesPrice{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  color:white;
}


.dinningPage .starterItems,
.dinningPage .starterItems,
.dinningPage .main,
.dinningPage .mainItems,
.dinningPage .mainItems,
.dinningPage .beverages,
.dinningPage .beveragesItems,
.dinningPage .beveragesItems{
  padding:10px 0 0 20px
}




/*
///////////////////////
///Responsive display/
/////////////////////
*/

@media (max-width:1250px){

  /* Nav */
  .root-layout nav{
    top:280px;
  }

  /*Center Image */
  .homePage .centerImage h1{
    width:600px;
    font-size: 8rem;
    margin-top:30px;
  }

  /* About */
  .homePage .aboutUs{
    gap:50px;
  }
  
  .homePage .aboutUs h2{
    font-size: var(--about-fnt-title-md);
  }
  
  .homePage .aboutUs h3{
    font-size: var(--about-fnt-subtitle-md);
    text-indent: 50px;
    line-height:30px;
  }

  /* Room */

  .homePage .room{
    height: var(--img-lg);
  }

  .homePage .hotelRooms,
  .homePage .dining{
    height: var(--img-md);
  }

  .homePage .hotelRooms .roomDesciption,
  .homePage .dining .dinningDesciption
  {
    gap:50px;
  }

  .homePage .hotelRooms .roomDesciption h3{
    font-size:var(--rde-fnt-subtitle-md);
  }

  .homePage .hotelRooms .roomDesciption h2{
    font-size: var(--rde-fnt-title-md)
  }

  .homePage .hotelRooms .roomDesciption p{
    font-size: var(--rde-fnt-description-md)
  }

  /*Dinning*/

  .homePage .dining .dinningDesciption h3{
    font-size:var(--rde-fnt-subtitle-md);
  }

  .homePage .dining .dinningDesciption h2{
    font-size: var(--rde-fnt-title-md);
  }

  .homePage .dining .dinningDesciption p{
    font-size: var(--rde-fnt-description-md);
  }

  .homePage .dining .dinningImage{
    background-image: url(./HotelSite/Food/Food1.jpg);
    background-size: cover;
    top:var(--top);
    position: relative;
  }

  /* Events */

  .homePage .events{
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .events .wedding,
  .events .surf{
    height:var(--img-md);
  }

  .events .eventDescription{
    font-size: var(--rde-fnt-event-md);
  }

  /* Footer */

  .root-layout .footerArea{
    height:150px;
  }
  
  .root-layout .footerArea .hotelLogo,
  .root-layout .footerArea .hotelContactDetails{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
  }
  
  .root-layout .footerArea .hotelLogo{
    grid-area: 1/1/2/2
  }
  
  .root-layout .footerArea .hotelContactDetails ul{
    display: flex;
    flex-direction: column;
    gap:15px;
    font-size: 1rem;
    color:black;
  }



}

@media (max-width:788px){

  .homePage .centerImage{
    height: 50vh;
  }

  .root-layout nav{
    top:280px;
  }
  
  .homePage .centerImage h1{
    width:400px;
    -webkit-text-stroke: .5px var(--secondary-clr);
    font-size: 5rem;
    margin-top:20px;
  }

  .root-layout ul{
    gap:50px;
    margin: 10px 0;
    font-size: .5rem;

  }

    /* About */
    .homePage .aboutUs{
      gap:20px;
      height:350px;
    }
    
    .homePage .aboutUs h2{
      font-size: var(--about-fnt-title-sm);
    }
    
    .homePage .aboutUs h3{
      font-size: var(--about-fnt-subtitle-sm);
      text-indent: 50px;
      line-height:20px;
      height: 200px;
    }

  /* Room */
  .homePage .room{
    height: var(--img-sm);
    background-size: cover;
    background-position: center;
  }

  .homePage .hotelRooms,
  .homePage .dining{
    height: var(--img-sm)
  }

  .homePage .hotelRooms .roomDesciption,
  .homePage .dining .dinningDesciption
  {
    gap:10px;
    padding:10px;
  }

  .homePage .hotelRooms .roomDesciption h3{
    font-size:var(--rde-fnt-subtitle-sm);
  }

  .homePage .hotelRooms .roomDesciption h2{
    font-size: var(--rde-fnt-title-sm)
  }

  .homePage .hotelRooms .roomDesciption p{
    font-size: var(--rde-fnt-description-sm)
  }


  /*Dinning*/


  .homePage .dining .dinningDesciption h3{
    font-size:var(--rde-fnt-subtitle-sm);
  }

  .homePage .dining .dinningDesciption h2{
    font-size: var(--rde-fnt-title-sm);
  }

  .homePage .dining .dinningDesciption p{
    font-size: var(--rde-fnt-description-sm);
  }

  /* Events */

  .homePage .events{
    position: relative;
    display:block;
  }

  .homePage .events{
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .events .wedding,
  .events .surf{
    height:var(--img-sm);
  }

  .events .eventDescription{
    background-color: rgb(217 217 217/ 0.5);
    backdrop-filter:blur(10px);
    font-size: var(--rde-fnt-event-md);
  }

}